/* cover section */

.cover {
	min-height: calc(100svh - 140px);
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.cover > img {
	width: 100%;
	min-height: calc(100svh - 140px);
	position: fixed;
	top: 60px;
	left: 0px;
	z-index: -1;
	object-fit: cover;
}

.intro {
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
}

.intro > h1 {
	font-size: 80px;
	font-weight: 800;
}

.intro > h3 {
	font-size: 40px;
}

.navbar {
	display: flex;
}

.item {
	height: 55px;
	margin-left: 20px;
	padding: 0px 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: 0.3s;
}

.item:hover {
	filter: brightness(120%);
}

.item:active {
	filter: brightness(90%);
}

.item:nth-child(1) {
	margin-left: unset;
	color: #FFFFFF;
	background-color: #007ACC;
}

.item:nth-child(2) {
	color: #007ACC;
	background-color: #DAE9F2;
	border: 3px solid #007ACC;
}

.item > svg {
	margin-right: 5px;
}

.item > span {
	font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .cover {
		margin-left: unset;
		align-items: center;
	}
	.intro {
		align-items: center;
	}
	.intro > h3 {
		margin: 0px 20px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	.intro > h1 {
		font-size: calc(80px * 0.8);
	}
	.intro > h3 {
		font-size: calc(40px * 0.8);
	}
	.item {
		height: unset;
		padding: 10px 30px;
	}
}

@media screen and (max-width: 600px) {
	.intro > h1 {
		font-size: calc(80px * 0.6);
	}
	.intro > h3 {
		font-size: calc(40px * 0.6);
	}
	.item {
		padding: calc(10px * 0.6) calc(30px * 0.6);
	}
}

@media screen and (max-width: 500px) {
	.intro > h1 {
		font-size: calc(80px * 0.5);
	}
	.intro > h3 {
		font-size: calc(40px * 0.5);
	}
	.item {
		padding: calc(10px * 0.5) calc(30px * 0.5);
	}
}

/* featured section */

.featured {
	padding: 50px 50px 50px 50px;
    background-color: #DAE9F2;
}

/* page components */

.title {
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title > h1 {
    font-size: 36px;
    font-weight: 700;
}